# Python cache and venv
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Data
*.csv
*.tsv
*.zip
glove.6B.100d.txt
quora-question-pairs/
paraphrase_results.csv
bleu_histogram.png

# Jupyter checkpoints
.ipynb_checkpoints/
